html, body{

	margin: 0;
	padding: 4vh 0 0 0;

}

#nav{

	background-color: #219BB5;
	text-decoration: none;
	color: white;
	margin-top: 0;
	height: 8vh;
	position: fixed;
	width: 100%;
	z-index: 99;
	margin: 0;
	top: 0;



}

#nav ul{

	list-style: none;
	margin: 0;
    padding: 0


}

#nav ul li{

width: auto;
text-align: center;


}

#nav ul li h1{

	margin: 0;
	padding-top: 2vh;
	font-family: "Courier New", Courier, monospace;

}

#nav ul li a{

	text-decoration: none;
	color: white;
	display: block;
	text-align: center;

}

#nav ul li a img{

margin-top: 0.3%;
width: 6vh;
margin-left: 2%;
float: left;

}

#face1{

	background-color: #A6D7E1;
	width: 25%;
	height: 46vh;
	float: left;
}

#face1 img{

	width: 60%;
	margin-top: 8vh;
	margin-left: 10vh;

}

#face2{

	background-color: #90CDDA;
	width: 25%;
	height: 46vh;
	float: left;

}

#face2 img{

	width: 60%;
	margin-top: 8vh;
	margin-left: 12vh;

}

#face3{

	background-color: #79C3D2;
	width: 25%;
	height: 46vh;
	float: left;

}

#face3 img{

	width: 60%;
	margin-top: 8vh;
	margin-left: 12vh;

}

#face4{

	background-color: #63B9CB;
	width: 25%;
	height: 46vh;
	float: left;

}

#face4 img{

	width: 60%;
	margin-top: 8vh;
	margin-left: 12vh;

}

#face5{

	background-color: #CB7563;
	width: 25%;
	height: 46vh;
	float: left;
}

#face5 img{

	width: 60%;
	margin-top: 8vh;
	margin-left: 12vh;

}

#face6{

	background-color: #C3624D;
	width: 25%;
	height: 46vh;
	float: left;

}

#face6 img{

	width: 60%;
	margin-top: 8vh;
	margin-left: 12vh;

}

#face7{

	background-color: #BC4E37;
	width: 25%;
	height: 46vh;
	float: left;

}

#face7 img{

	width: 60%;
	margin-top: 8vh;
	margin-left: 12vh;

}

#face8{

	background-color: #B53B21;
	width: 25%;
	height: 46vh;
	float: left;

}

#face8 img{

	width: 60%;
	margin-top: 8vh;
	margin-left: 12vh;

}

#timeline{

	background-color: #e8f5f7;
	width: 100vh;
	height: auto;
	float: left;
	margin-left: 25%;
	margin-top: 2%;
	margin-right: 5%;
}

#spotify1{

	margin-left: 5%;
	margin-top: 2%;




}
#spotify{

	position: fixed;

}
